@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ownglyph_meetme-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
:root {
    --text-color: #61dafb;
    --button-color: #61dafb;
}
body {
    font-family: 'ONE-Mobile-POP', sans-serif;
    margin: 0;
	padding-top: 60px;
    padding-bottom: 140px;
    background-color: #20232a;
    color: var(--text-color);
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282c34;
    padding: 10px 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

#navbar-logo img {
    height: 50px;
}

#navbar-menu {
    display: flex;
    gap: 20px;
    flex-grow: 1;
    justify-content: center;
}

#navbar-menu a {
    color: var(--text-color);
    text-decoration: none;
    font-family: 'ONE-Mobile-POP', sans-serif;
    font-size: 16px;
    transition: color 0.3s;
}

#navbar-menu a:hover {
    color: var(--button-color);
}

#banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(100% - 20px);
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 10px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
#outer-wrapper {
    margin: 10px;
}
h1 {
    text-align: center;
    padding: 20px;
}
input {
    padding: 10px;
    border-radius: 8px;
    border: 2px solid var(--text-color);
    background-color: #20232a;
    color: var(--text-color);
    width: 200px;
    text-align: center;
    font-size: 16px;
    font-family: 'ONE-Mobile-POP', sans-serif;
    transition: border-color 0.3s, box-shadow 0.3s, caret-color 0.3s;
    caret-color: var(--button-color);
    appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:focus {
    border-color: var(--button-color);
    box-shadow: 0 0 10px var(--button-color);
    outline: none;
    caret-color: var(--button-color);
}
#tabs {
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    margin: 20px auto;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #282c34;
    border-radius: 4px;
    flex-wrap: wrap;
}
.tab {
    padding: 10px 20px;
    flex-grow: 1;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 4px;
    color: var(--text-color);
}
.tab.active {
    background-color: var(--button-color);
    color: #282c34;
    font-weight: bold;
}
#content {
    background-color: #282c34;
    border-radius: 8px;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.content-section {
    display: none;
    flex-grow: 1;
}
.content-section.active {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-bottom: 1px solid #444;
}
.buttons-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    width: 100%;
    max-width: 150px;
}
.button {
    width: 100%;
    padding-top: 70%;
    position: relative;
    height: 0;
    cursor: pointer;
    color: white;
    text-align: center;
    font-weight: bold;
    border-radius: 2px;
    border: 2px dashed transparent;
    transition: border-color 0.3s;
    outline: none;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
}
.button.active {
    border-color: white;
}
.button:nth-child(1),
.button:nth-child(2),
.button:nth-child(3) {
    background-color: #28a745;
}
.button:nth-child(4),
.button:nth-child(5),
.button:nth-child(6) {
    background-color: #17a2b8;
}
.button:nth-child(7),
.button:nth-child(8),
.button:nth-child(9) {
    background-color: #6f42c1;
}
.button:nth-child(10),
.button:nth-child(11),
.button:nth-child(12) {
    background-color: #dc3545;
}
.button:nth-child(13),
.button:nth-child(14),
.button:nth-child(15) {
    background-color: #ffc107;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
label, input, button {
    margin: 5px 0;
    font-size: 16px;
}
input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
    width: 200px;
    text-align: center;
}
button {
    padding: 10px 20px;
    background-color: var(--button-color);
    color: #282c34;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}
button:hover {
    background-color: #21a1f1;
}
button:active {
    transform: scale(0.95);
}
p {
    text-align: center;
}
.content-section-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.buttons-container {
    flex: 1;
    min-width: 100px;
}
.form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.status-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#chat-container {
    margin-top: 30px;
    padding: 10px 20px 20px 20px;
    background-color: #282c34;
    border-radius: 8px;
    max-width: 800px;
    margin: 30px auto 0 auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
#chat-messages {
    max-height: 150px;
    overflow-y: auto;
    padding: 10px;
    background-color: #20232a;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.chat-message {
    padding: 4px;
    border-bottom: 1px solid #444;
}
.chat-prefix {
    display: inline-block;
    width: 80px;
    text-align: center;
    color: #282c34;
    border-radius: 2px;
    padding: 5px;
    margin-right: 10px;
}
.chat-prefix[data-level="1"],
.chat-prefix[data-level="2"],
.chat-prefix[data-level="3"] {
    background-color: #28a745;
}
.chat-prefix[data-level="4"],
.chat-prefix[data-level="5"],
.chat-prefix[data-level="6"] {
    background-color: #17a2b8;
}
.chat-prefix[data-level="7"],
.chat-prefix[data-level="8"],
.chat-prefix[data-level="9"] {
    background-color: #6f42c1;
}
.chat-prefix[data-level="10"],
.chat-prefix[data-level="11"],
.chat-prefix[data-level="12"] {
    background-color: #dc3545;
}
.chat-prefix[data-level="13"],
.chat-prefix[data-level="14"],
.chat-prefix[data-level="15"] {
    background-color: #ffc107;
}
#chat-input {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #20232a;
    color: var(--text-color);
}
#content-wrapper {
    position: relative;
    max-width: 840px;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid var(--text-color);
    border-radius: 8px;
}
#content-wrapper::before {
    content: '극강 확인';
    position: absolute;
    top: -10px;
    left: 20px;
    background-color: #20232a;
    padding: 0 10px;
    color: var(--text-color);
    font-size: 16px;
}
#chat-wrapper {
    position: relative;
    max-width: 840px;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid var(--text-color);
    border-radius: 8px;
    margin-top: 20px;
}
#chat-wrapper::before {
    content: '수치 기록';
    position: absolute;
    top: -10px;
    left: 20px;
    background-color: #20232a;
    padding: 0 10px;
    color: var(--text-color);
    font-size: 16px;
}
.warning {
    color: red;
    font-weight: bold;
    font-family: 'Ownglyph_meetme-Rg', sans-serif;
}
button.confirm {
    padding: 10px 20px;
    background-color: var(--button-color);
    color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s, box-shadow 0.1s;
    font-family: 'ONE-Mobile-POP', sans-serif;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px #999;
    text-shadow: 0 0 5px var(--button-color-hover);
}
button.confirm:hover {
    background-color: var(--button-color-hover);
    text-shadow: 0 0 5px var(--button-color);
}
button.confirm:active {
    transform: translateY(2px);
    box-shadow: 0 2px #666;
}

@media screen and (max-width: 768px) {
	#navbar-menu {
        display: none;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #282c34;
        border: 1px solid var(--text-color);
        border-radius: 8px;
        padding: 10px;
    }

    #navbar-menu.show {
        display: flex;
    }
	
    .content-section-wrapper {
        flex-direction: column;
        align-items: center;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#modal-message {
    font-family: 'ONE-Mobile-POP', sans-serif;
    font-size: 16px;
    color: #333;
}
